@model IEnumerable<BackendModel.CustomerDetails>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Customers";
}

<h2>List of Customers with Orders</h2>

<ul>
    @foreach (var customer in ViewBag.Customers)
    {
        <li>@customer.CustomerObject.Name</li>
        <ul>
            @foreach (var order in customer.CustomerObject.Orders)
            {
                <li>@order.Item</li>
            }
        </ul>
    }
</ul>
