@{
    ViewBag.Title = "Welcome";
}

<h1>This sentence is being returned from the Welcome View.</h1>

<ul>
    @for (int i = 0; i < ViewBag.NumTimes; i++)
    {
        <li>@ViewBag.Message</li>
    }
</ul>


