<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=tekier;AccountKey=hxHcT89mFxOmO2XEYOsLYEhwm/gTQL8MbhiRnvKg8gIzY2bgVMCj3WvhtxWPj/uNWagoYVktG4lHWiW4Qs2EXg==" />
    <!-- <add key="StorageConnectionString" value="UseDevelopmentStorage=true;" /> -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>